

*{
box-sizing: border-box;
padding: 0;
margin: 0;
border: 0;
}

ul li{list-style: none;}

h1,h2,h3,h4,h5,h6{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
body{
    font-family: 'Open Sans', sans-serif;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.07326680672268904) 28%, rgba(0,0,0,1) 28%), url('../img/Background.png') 50% 0% no-repeat;
    padding-bottom: 120px;
}

.container{
    width: 76%;
    margin: 0 auto;
}
.color-text{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 6px;
    text-transform: uppercase;
    color: #FFC178;
}
.title{
    font-weight: 700;
    font-size: 64px;
    line-height: 87px;
    color: #FFFFFF;
}
.subtitle{
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    color: #FFFFFF;
}

header{
    position: relative;
    top: 0;
    right: 0;
}

.burger-border{
    position: absolute;
    top: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border: 3px solid #000;
    border-radius: 50%;
    display: none;
}
.burger-elemenr{
    position: absolute;
    top: 10px;
    left: 10px;
    height: 4px;
    width: 22px;
    background-color: #000;
    border-radius: 50%;
}
.burger-elemenr:nth-child(2){
    margin: 9px 0 5px 0;
}
.burger-elemenr:nth-child(1){
    margin: 18px 0 5px 0;
}
#check-menu{
    display: none;
}
label{
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 3;
    width: 50px;
    height: 50px;
    display: none;
}
.header-menu-mobile{
    display: block;
    position: fixed;
    top: 0;
    left: -100%;
    width: 99vw;
    height: 100vh;
    overflow: hidden;
    background-color: rgba(38, 34, 34, 0.727);
    z-index: 2;
    display: none;
    transition: all 1.5s;
}
#check-menu:checked ~ .header-menu-mobile{
    left: 0;
}
.mobile-logo{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
}

.mobile-menu-inner{
    display: flex;
    justify-content: space-between;
    padding: 100px 50px;
}
.mobile-menu{
    display: flex;
    flex-direction: column;
    margin: 10% auto 0;
    text-align: center;
    max-width: 30%;
    row-gap: 50px;
}

.big-display{
    padding: 64px 84px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu-logo{
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
}
.list-menu{
    display: flex;
    align-items: center;
    column-gap: 50px;
    margin: 0 20px 0 20px;
}
.link-menu{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
}
.link-menu:hover{
    color: rgba(255,255,255,0.1);
}
.search-input{
    background: none;
    outline: none;
    margin-left: 20px;
    max-width: 55px;
}
::placeholder{
    font-weight: 400;
    font-size: 17px;
    line-height: 23px;
    color: #FFFFFF;
}

.vertical{
    margin: 206px 0 0 80px;
    position: fixed;
}
.vertical img{
    margin-bottom: 20px;
}

.vertical-text{
    writing-mode: vertical-rl;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 20px;
}
.header-color-text{
    margin-top: 132px;
    margin-left: 110px;
    position: relative;
    top: 0;
    left: 0;
}
.bef::before{
    content: '';
    width: 72px;
    height: 2px;
    background-color: #FFC178;
    display: block;
    position: absolute;
    top: 13px;
    left: -104px;
}
.header-title{
    font-weight: 400;
    font-size: 96px;
    line-height: 100px;
    text-transform: capitalize;
    color: #FFFFFF;
    margin: 32px 0 125px 0;
}
.header-title span{
    font-weight:700;
}
.down{
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    transition: all 1s;
}
.down:hover{
    color: rgba(19, 16, 12, 0.952);
}
.header-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.animation-arrow{
    position: relative;
    animation-name: arrow;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    top: -25px;
    left: 120px;
}
@keyframes arrow{
    0% {top: -25px;}
    50% {top: 10px;}
    100% {top: -25px;}
}
.animation-arrow-right{
    position: relative;
    animation-name: arrow-right;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in;
    top: -23px;
    left: 0px;
}
@keyframes arrow-right{
    0% {left: 100px;}
    50% {left: 120px;}
    100% {left: 100px;}
}



.holiday{
    margin-top: 38.5%;
}
.holiday-row{
    display: flex;
    justify-content: space-between;
}
.holiday-img{
    margin-right: 50px;
    min-width: 400px;
}
.holiday-img img{
    width: 100%;
    height: 100%;
}
.holiday-text-block{
    max-width: 632px;
}
.holiday-color-text{
    position: relative;
    top: 0;
    left: 0;
    margin-left: 105px;
}
.holiday-title{
    margin: 27px 0 27px 0;
}
.holiday-read-more{
    margin-top: 27px;
}
.read-more{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FBD784;
}
.holiday-arrow{
    padding: 9px;
}



.bromo{
    margin-top: 250px;
}
.bromo-fon{
    background: url('../img/image\ 2.png') 50% 50% no-repeat;
    padding-top: 463px;
    padding-bottom: 42px;
    text-align: center;
}
.bromo-inner{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.bromo-row{
    display: flex;
    justify-content: space-between;
    padding: 0 35px;
    margin-bottom: 40px;
}
.bromo-title{
    margin: 24px 0 27px 0;
    max-width: 705px;
}
.bromo-subtitle{
    max-width: 934px;
}
.bromo-read-more{
    margin: 39px 0 0 0;
}
.bromo-color-text{
    position: relative;
    top: 0;
    left: 0;
}
.bromo-color-text::after{
    content: '';
    width: 72px;
    height: 2px;
    background-color: #FFC178;
    display: block;
    position: absolute;
    top: 13px;
    left: 125px;
}



.culture-row{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
.culture{
    margin-top: 227px;
}

.culture-img{
    margin-left: 50px;
    min-width: 400px;
}
.culture-img img{
    width: 100%;
    height: 100%;
}
.culture-text-block{
    max-width: 632px;
}
.culture-color-text{
    position: relative;
    top: 0;
    left: 0;
    margin-left: 105px;
}
.culture-title{
    margin: 27px 0 27px 0;
}
.culture-read-more{
    margin-top: 27px;
}
.read-more{
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FBD784;
}





.started{
    margin-top: 250px;
}
.started-row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 4px 55px 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.started-inner{
    display: flex;
    align-items: center;
}
.started-logo{
    font-weight: 700;
    font-size: 48px;
    line-height: 65px;
    letter-spacing: 0.01em;
    text-transform: capitalize;
    color: #FFFFFF;
}
.started-text{
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    margin-right: 55px;
}
.button{
    padding: 24px 75px;
    background-color: #FFA343;
    border-radius: 8px;
    transition: all 1s;
}
.button:hover{
    background-color: #3ed713c2;
    border-radius: 50%;
}
.footer{
     margin-top: 55px;
}
.footer-row{
    display: flex;
    justify-content: space-between;
}
.footer-inner{
    display: flex;
    width: 37%;
    margin-right: 96px;
    justify-content: space-between;
}
.footer-form-block{
    max-width: 400px;
    margin-right: 30px;
}
.footer-subtitle{
    font-weight: 700;
    font-size: 36px;
    line-height: 49px;
    letter-spacing: -0.3px;
    color: #FFFFFF;
    margin-bottom: 50px;
}
.footer-input{
    padding: 30px;
    background-color: #000;
    width: 318px;
    outline: none;
}
.form{
    border-bottom: 1.4px solid rgba(255, 255, 255, 0.3);
}
.footer-button{
    padding: 30px 33px;
    background-color: #FFA343;
    border-radius: 8px 8px 0px 0px;
    transition: all 1s;
}
.footer-button:hover{
    background-color: rgba(16, 237, 108, 0.646);
    border-radius: 30px 30px 0px 0px;
}
.footer-link{
    font-weight: 400;
    font-size: 19px;
    line-height: 0px;
    letter-spacing: -0.204545px;
    color: #FFFFFF;
}
.footer-text-menu{
    font-weight: 700;
    font-size: 20px;
    line-height: 0px;
    letter-spacing: -0.231818px;
    color: #FFD1A0;
}
.footer-menu li{
    margin-top: 45px;
}
.footer-social-block{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.footer-polici a{
    margin-left: 50px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: -0.204545px;
    color: #FFFFFF;
}
.footer-social a{
    margin-right: 50px;
}
.year{
    margin-top: 156px;
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    opacity: 0.5;
}

@media (max-width: 1200px) {
    .header-title{
        font-size: 70px;
    }
    .title{
        font-size: 50px;
        line-height: 65px;
    }
    .footer-menu li{
    margin-top: 30px;
    }
    .footer-inner{
    display: flex;
    width: 37%;
    margin-right: 0;
    justify-content: space-between;
    flex: 1 1 auto;
    }
    .footer-inner-menu{
        margin-right: 10px;
    }
    .footer-subtitle{
        font-size: 30px;
        line-height: 36px;
    }
}



@media (max-width: 1000px){
    body{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.07326680672268904) 27%, rgba(0,0,0,1) 18%), url('../img/Background.png') 50% 0% no-repeat;
    }
    .vertical{
        margin: 206px 0 0 50px;
    }
    .holiday{
        margin-top: 73.5%;
    }
    .holiday-row{
        flex-direction: column;
    }
    .holiday-img{
        margin: 0;
        width: 100%;
        height: 620px;
    }
    .holiday-text-block{
        text-align: center;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .holiday-color-text{
        margin: 27px 0 0 0;
    }
    .bromo{
        margin-top: 80px;
    }
    .bromo-fon{
        padding-top: 350px;
    }

    .culture{
        margin-top: 80px;
    }
    .culture-row{
        flex-direction: column-reverse;
    }
    .culture-img{
        margin: 0;
        width: 100%;
        height: 620px;
        margin-top: 27px;
    }
    .culture-text-block{
        text-align: center;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .culture-color-text{
        margin: 27px 0 0 0;
    }
    .started{
        margin-top: 80px;
    }
    .started-logo{
        font-size: 40px;
    }
    .button{
        padding: 20px 50px;
    }
    .footer-row{
        flex-direction: column;
    }
    .footer-form-block{
        max-width: 100%;
        margin-right: 0;
    }
    .form{
        display: flex;
    }
    .footer-input{
        width: 100%;
    }
    .footer-inner{
        width: 100%;
        margin-top: 40px;
    }
}



@media (max-width: 740px){
    body{
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0,0,0,0) 0%, rgba(0,0,0,0.07326680672268904) 27%, rgba(0,0,0,1) 33%), url('../img/Background.png') 50% 0% no-repeat;
    }

    .burger-border{
        display: block;
    }
    label{
        display: block;
    }
    .header-menu-mobile{
        display: block;
    }
    .big-display{
        display: none;
    }
    .color-text{
        font-size: 14px;
    }
    .header-title{
        font-size: 50px;
        text-align: center;
    }
    .vertical{
        display: none;
    }
    .container{
        width: 100%;
        margin: 0;
        padding: 0 20px;
    }
    .title{
        font-size: 35px;
        line-height: 50px;
    }
    .subtitle{
        font-size: 14px;
        line-height: 28px;
    }
    .holiday{
        margin-top: 130%;
    }
    .holiday-img{
        height: 500px;
        min-width: 100px;
    }
    .bromo{
        margin-top: 40px;
    }
    .bromo-fon{
        padding-top: 150px;
    }
    .culture{
        margin-top: 40px;
    }
    .culture-img{
        height: 500px;
        min-width: 100px;
    }
    .button{
        padding: 22px 17px;
        font-size: 17px;
    }
    .started-text{
        font-size: 18px;
        line-height: 25px;
        margin-right: 10px;
    }
    .started-logo{
        font-size: 30px;
    }
    .footer-subtitle{
        font-size: 22px;
    }
    .footer-input{
        font-size: 15px;
        padding: 20px;
    }
    .footer-button{
        padding: 20px 30px;
    }
    .footer-link{
        font-size: 13px;
    }
    .footer-menu li{
        margin-top: 10px;
    }
    .footer-social-block{
        margin-top: 50px;
    }
    .footer-social a{
        margin-right: 20px;
        margin-left: 20px;
    }
    .footer-social{
        display: flex;

        flex: 1 1 auto;
        justify-content: space-between;
    }
    .footer-polici a{
        margin-left: 10px;
        font-size: 13px;
    }
    .year{
        margin-top: 100px;
        font-size: 16px;
    }
}