@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,700;0,800;1,400&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

ul li {
  list-style: none;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

html {
  font-size: 20px;
}
@media (max-width: 755px) {
  html {
    font-size: 17px;
  }
}
@media (max-width: 500px) {
  html {
    font-size: 15px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  color: #FFFFFF;
  font-weight: 400;
}

.btn {
  background-color: rgb(201, 141, 90);
}

.button {
  background-color: rgb(245, 155, 77);
}

.container {
  width: 73%;
  margin: 0 auto;
}
@media (max-width: 755px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}

.subtitle {
  font-size: 1.05rem;
  line-height: 26px;
  text-transform: capitalize;
}

.line::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
}

.cena {
  position: relative;
  top: 0;
  left: 0;
}
.cena::before {
  content: url("../img/shop.png");
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -10px;
  left: -52px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #281C14;
}
.cena::after {
  content: url("../img/VectorDOwn.png");
  position: absolute;
  top: -5px;
  left: 90px;
}

.title {
  font-weight: 800;
  font-size: 60px;
  line-height: 74px;
  text-transform: uppercase;
}
@media (max-width: 755px) {
  .title {
    font-size: 40px;
    line-height: 65px;
  }
}

.burger-border {
  position: absolute;
  top: 10%;
  right: 10%;
  width: 50px;
  height: 50px;
  border: 3px solid rgb(221, 161, 82);
  border-radius: 50%;
  z-index: 3;
  display: none;
}
@media (max-width: 1650px) {
  .burger-border {
    display: block;
  }
}

.burger-elemenr {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 4px;
  width: 22px;
  background-color: rgb(221, 161, 82);
  border-radius: 50%;
}

.burger-elemenr:nth-child(2) {
  margin: 9px 0 5px 0;
}

.burger-elemenr:nth-child(1) {
  margin: 18px 0 5px 0;
}

#check-menu {
  display: none;
}

label {
  display: block;
  position: absolute;
  top: 10%;
  right: 10%;
  cursor: pointer;
  z-index: 4;
  width: 50px;
  height: 50px;
  display: none;
}
@media (max-width: 1650px) {
  label {
    display: block;
  }
}

.header-menu-mobile {
  display: block;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-color: rgba(21, 18, 18, 0.861);
  z-index: 2;
  display: none;
  transition: all 1.5s;
}
@media (max-width: 1650px) {
  .header-menu-mobile {
    display: block;
  }
}

#check-menu:checked ~ .header-menu-mobile {
  left: 0;
}

.mobile-main-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-mobile {
  position: absolute;
  top: 0;
}

.logo-mobile,
.mobile-cena {
  align-self: start;
}

.mobile-menu-list {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  row-gap: 40px;
}

.mobile-link {
  font-size: 25px;
  line-height: 18px;
  color: #FFFFFF;
}

.header {
  position: relative;
  top: 0;
  right: 0;
  background: url("../img/oborot 1.png") 100% 100%/63% 80% no-repeat, url("../img/Ellipse 2.png") 100% 100%/74% 86% no-repeat, url("../img/фон.png") center/cover no-repeat;
  min-height: 100vh;
  min-width: 100%;
  padding: 8px 0 0 0;
}
@media (max-width: 755px) {
  .header {
    background: url("../img/oborot 1.png") 100% 100%/63% 55% no-repeat, url("../img/Ellipse 2.png") 100% 100%/74% 66% no-repeat, url("../img/фон.png") center/cover no-repeat;
  }
}
.header-main-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1650px) {
  .header-main-menu {
    display: none;
  }
}
.header-menu {
  flex: 1 1 auto;
}
.header-menu-list {
  display: flex;
  justify-content: space-around;
}
.header-link {
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
}
.header-link:hover::after {
  content: "";
  width: 100%;
  height: 1px;
  display: block;
  background-color: rgb(255, 255, 255);
  margin-top: 10px;
}
.header-cena {
  margin-left: 90px;
  margin-right: 19px;
  font-weight: 700;
  font-size: 15px;
  line-height: 19px;
}
.header-text-block {
  margin-top: 6.25rem;
  width: 56%;
}
@media (max-width: 1650px) {
  .header-text-block {
    margin-top: 35%;
  }
}
@media (max-width: 755px) {
  .header-text-block {
    width: 100%;
  }
}
.header-title {
  font-weight: 800;
  font-size: 73px;
  line-height: 74px;
  text-transform: uppercase;
}
@media (max-width: 755px) {
  .header-title {
    font-size: 50px;
    line-height: 60px;
  }
}
@media (max-width: 500px) {
  .header-title {
    font-size: 34px;
  }
}
.header-subtitle {
  margin: 20px 0 80px 0;
  width: 80%;
}
@media (max-width: 755px) {
  .header-subtitle {
    width: 50%;
  }
}
@media (max-width: 500px) {
  .header-subtitle {
    width: 100%;
  }
}
.header-button {
  box-shadow: 5px 5px 10px #1A0600;
  border-radius: 56px;
  padding: 1.875rem;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  text-transform: capitalize;
  color: #151616;
}
@media (max-width: 755px) {
  .header-button {
    font-size: 13px;
  }
}

.piar {
  background-color: #EBEBEB;
  padding: 60px 0 73px 0;
}
.piar-title {
  color: #151616;
  text-align: center;
}
.piar-arrow {
  text-align: center;
}
.piar-arrow img {
  width: 100%;
}
.piar-text {
  font-size: 1rem;
  line-height: 24px;
  text-align: center;
  color: #151616;
  margin-top: 22px;
}
.piar-text::before {
  content: "";
  width: 216px;
  height: 3px;
  display: block;
  background-color: #767676;
  margin: 0 auto 13px;
}
.piar-row {
  margin-top: 42px;
  display: flex;
  justify-content: center;
  -moz-column-gap: 15px;
       column-gap: 15px;
  flex-wrap: wrap;
}
.piar-colum {
  max-width: 233px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15px;
}

.catalog {
  background: url("../img/Mask group.png") center/cover no-repeat;
  min-height: 100vh;
  min-width: 100%;
  padding: 53px 0 141px 0;
}
.catalog-title-h2 {
  text-align: center;
}
.catalog-button-row {
  margin: 67px 0 73px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.catalog-btn {
  padding: 0.9375rem 2.8125rem;
  border: 1px solid #C4C4C4;
  border-radius: 44px;
  background-color: rgba(28, 28, 28, 0);
  margin: 15px 10px 0 0;
  font-weight: 500;
  font-size: 21px;
  line-height: 26px;
  text-transform: capitalize;
  color: #C4C4C4;
  transition: all 1s;
}
.catalog-btn:hover {
  color: #151617;
  background-color: rgb(201, 141, 90);
}
@media (max-width: 755px) {
  .catalog-btn {
    font-size: 15px;
  }
}
.catalog-row {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
@media (max-width: 755px) {
  .catalog-row {
    flex-direction: column;
    align-items: center;
  }
}
.catalog-colum {
  background: #1F1F1F;
  box-shadow: 6px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  padding: 26px 0 17px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 0 1 25%;
  min-width: 270px;
  margin-top: 15px;
}
@media (max-width: 755px) {
  .catalog-colum {
    width: 80%;
  }
}
.catalog-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-transform: capitalize;
  color: #C4C4C4;
}
.catalog-subtitle {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-transform: capitalize;
  color: #C4C4C4;
  margin: 15px 0 15px 0;
  max-width: 233px;
  flex: 1 1 auto;
  position: relative;
  top: 0;
  left: 0;
}
.catalog-subtitle::before {
  content: url("../img/Arrow 3.png");
  position: absolute;
  top: 80px;
  left: 0px;
}
.catalog-button {
  padding: 10px;
}
.catalog-colum-btn {
  align-self: flex-end;
  margin-right: 33px;
}
.catalog-img {
  height: 240px;
}
.catalog-img img {
  width: 100%;
  height: 100%;
}

.info {
  padding: 50px 0 76px 0;
  background-color: #FFFFFF;
  background: url("../img/background.png") 0% -24%/100% 270% no-repeat;
}
.info-title {
  color: #151616;
  text-align: center;
}
.info-arrow {
  text-align: center;
}
.info-arrow img {
  width: 100%;
}
.info-subtitle {
  margin-top: 30px;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  font-variant: small-caps;
  color: #000000;
}
.info-last-text {
  font-style: italic;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  font-variant: small-caps;
  color: #000000;
  text-align: end;
}

.last {
  margin-top: 30px;
  margin-bottom: 25px;
}

.products {
  background: url("../img/Mask group.png") center/cover no-repeat;
  min-height: 100vh;
  min-width: 100%;
  padding: 73px 0 81px 0;
}
.products-title {
  color: #FFFFFF;
  text-align: center;
  margin-bottom: 65px;
}
.products-fotoblock {
  display: flex;
  justify-content: center;
  -moz-column-gap: 30px;
       column-gap: 30px;
  flex-wrap: wrap;
}
@media (max-width: 870px) {
  .products-fotoblock {
    flex-direction: column;
    align-items: center;
  }
}
.products-foto {
  margin-bottom: 30px;
}
.products-inner-foto {
  margin-bottom: 30px;
}
.products-foto-inner {
  margin-top: 15px;
  row-gap: 30px;
}
@media (max-width: 870px) {
  .products-foto-inner {
    width: 80%;
  }
  .products-foto-inner img {
    width: 100%;
    height: 100%;
  }
}
.products-foto-inner-null {
  margin-top: 15px;
}
@media (max-width: 870px) {
  .products-foto-inner-null {
    width: 80%;
  }
  .products-foto-inner-null img {
    width: 100%;
    height: 100%;
  }
}

.footer {
  background-color: #121413;
  padding: 12px 12px;
}
.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1425px) {
  .footer-row {
    flex-direction: column;
  }
}
.footer-text {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}
@media (max-width: 1425px) {
  .footer-adress {
    max-width: 30%;
  }
}
@media (max-width: 600px) {
  .footer-adress {
    max-width: none;
    width: 100%;
    margin: 20px 0 20px 0;
  }
}
.footer-adress address {
  margin-top: 10px;
  font-size: 16px;
  font-style: normal;
  line-height: 20px;
}
.footer-tell {
  display: flex;
  flex-direction: column;
}
.footer-inner-block {
  display: flex;
  min-width: 80%;
  justify-content: space-between;
}
@media (max-width: 1425px) {
  .footer-inner-block {
    min-width: 100%;
  }
}
@media (max-width: 600px) {
  .footer-inner-block {
    flex-direction: column;
  }
}

.mobile {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: right;
  color: #FFFFFF;
}
@media (max-width: 600px) {
  .mobile {
    text-align: center;
    font-size: 18px;
  }
}